<div style="padding-top: 5%; padding-left: 10%;">
    <label style="font-size: 30px; font-weight: bold;">Profile</label>
    <br><br><br><br><br>
    <table style="width:100%;">
        <tr class="width-full">
            <td class="width-30"><label class="column-label">Name:</label></td>
            <td class="width-70"><div style="text-align: center">{{user.name}}</div></td>
        </tr>
        <br><br>
        <tr class="width-full">
            <td class="width-30"><label class="column-label">Email:</label></td>
            <td class="width-70"><div style="text-align: center">{{user.email}}</div></td>
        </tr>
        <br><br>
        <tr class="width-full">
            <td class="width-30"><label class="column-label">Role:</label></td>
            <td class="width-70"><div style="text-align: center">{{user.role}}</div></td>
        </tr>
    </table>
</div>